@use '../../styles/abstracts/mixins' as *;

.container {
  width: min(100% - (var(--page-gutter) * 2), var(--container-max-width));
  margin-inline: auto;

  @include respond-to(tablet) {
    --page-gutter: var(--space-8);
  }
}
